<section class="bg-gray-900 h-screen flex items-center pb-[200px]">
  <div
    class="mx-auto w-screen max-w-screen-xl px-4 py-14 sm:px-6 sm:py-24 lg:px-8 lg:py-32"
  >
    <div class="mx-auto max-w-prose text-center">
      <h1 class="text-5xl font-bold text-indigo-400 sm:text-5xl">
        NEXUS GAMING GEAR
        <strong class="text-white block mt-4"> Level Up Your </strong>
        Gaming Experience
      </h1>

      <p class="mt-4 text-base text-pretty text-gray-300 sm:text-lg/relaxed">
        Premium gaming gear for champions. Cutting-edge mice, keyboards, PCs &
        laptops to dominate the competition.
      </p>

      <div class="mt-8 flex justify-center gap-4 sm:mt-10">
        <button
          class="inline-block rounded border border-indigo-600 bg-indigo-600 px-6 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700 hover:scale-105 transform transition-transform"
          routerLink="/cart"
        >
          Shop Now
        </button>

        <button
          class="inline-block rounded border border-indigo-600 px-6 py-3 font-medium text-indigo-400 shadow-sm transition-colors hover:bg-gray-800 hover:text-white"
          routerLink="/products"
        >
          Explore Products
        </button>
      </div>
    </div>
  </div>
</section>
